name: Go Mod Tidy and Output go.mod & go.sum

on:
  workflow_dispatch:

jobs:
  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # 可根据需要调整 Go 版本

      - name: Run go mod tidy
        run: go mod tidy

      - name: Output go.mod
        run: cat go.mod

      - name: Output go.sum
        run: cat go.sum
